<!-- <footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer> -->

<footer>
  <div id="left">
    <div>
      <p>© Pranav Hajare</p>
    </div>

    <div>
      <p>All Rights Reserved</p>
    </div>
  </div>
  <div id="right">
    
      <div>
        <a href="/">Home</a>
      </div>

      <div>
        <%if(locals.user) { %>
      <a href="/users/profile/<%= user.id %>">Profile</a>
      <% } else { %>
      <a href="/users/sign-in">Sign In</a>
      <% } %>
      </div>
      
    
  </div>
</footer>
