//add styling for the chat box

* {
	box-sizing: border-box;
}

#user-chat-box{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px none grey;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    height: 350px;
	width: 300px;
	background: white;
	padding: 5px;
	box-shadow: 2px 2px 2px 2px lightgrey;

    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
	    height: 70%;
	    background-color: white;
	    overflow: auto;

	    .other-message{
		    text-align: left;
		    padding: 5px;
		    span{
				display: inline-block;
				margin-bottom: 2px;
				clear: both;
				padding: 7px 13px;
				font-size: 12px;
				border-radius: 15px;
				line-height: 1.4;
		    	background-color: #ddd;
				float: left;
				border-bottom-left-radius: 5px;
				// border-top-left-radius: 5px;
				
		    }
		    
	    }

	    .self-message{
		    text-align: right;
		    padding: 5px;
		   
		    span{
				display: inline-block;
				margin-bottom: 2px;
				clear: both;
				padding: 7px 13px;
				font-size: 12px;
				border-radius: 15px;
				line-height: 1.4;
	    		background-color: #1998e6;
				float: right;
				border-bottom-right-radius: 5px;
				// border-top-right-radius: 5px;
		    }
		   
	    }

    }
    #chat-message-input-container{
    	    height: 12%;
		    width: 100%;
		    display: flex;
		    flex-direction: row;
			

		    #chat-message-input{
	    	    height: 100%;
    			width: 80%;
		    }

		    #send-message{
	    	    height: 100%;
			    width: 30%;
			    font-size: 25px;
			    color: white;
			    border: none;
			    background: #1998e6;
				opacity: 0.6;
 				transition: 0.3s;
				&:hover{
					opacity: 1;
			  }
		    }
	    }
}