// #layout-footer{
//     color: white;
//     a{
//         color: white;
//         text-decoration: none;
//     }

//     background: grey;
//     padding: 5px 10px;
//     display: flex;
//     justify-content: flex-start;

//     .footer-nav{
//         ul{
//             list-style: none;
//         }
//     }
// }


footer 
{
    display: flex;
    justify-content: space-between;
    align-items:normal ;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: grey;
    color: white;

    a
    {
        color: white;
        text-decoration: none;
        display: block;
    }
    #left
    {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
    }

    #right{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 20%;
    }
 }